spring:
  zipkin:
    base-url: http://localhost:9411
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: commission-service
          uri: lb://commission-service
          predicates:
            - Path=/api/v*/commissions*,/api/v*/commissions/*,/api/v*/employees/*/commissions*,/api/v*/receipts*,/api/v*/receipts/*,/api/v*/commissions/*/receipts,/api/v*/commissions/*/approveByManager
          filters:
            - AuthFilter
        - id: employee-service
          uri: lb://employee-service
          predicates:
            - Path=/api/v*/employees*,/api/v*/employees/*,/api/v*/managers*,/api/v*/managers/*,/api/v*/managers/*/employees*
          filters:
            - AuthFilter
        - id: auth-server
          uri: lb://auth-server
          predicates:
            - Path=/api/v1/auth/*,
management:
  endpoint.gateway.enabled: true
  endpoints.web.exposure.include: gateway
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
server:
  port: 8090



