apiVersion: apps/v1
kind: Deployment
metadata:
  name: cms-employee-service-app
  labels:
    app: cms-employee-service-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app : cms-employee-service-app
  template:
    metadata:
      labels:
        app: cms-employee-service-app
    spec:
      containers:
        - name: cms-employee-service-app
          image: manuelrojas19/cms-employee-service
#          command: [ "java","-Djava.security.egd=file:/dev/./urandom","-Dspring.profiles.active=local-discovery,local-k8s","-jar","/app/app.jar" ]
          imagePullPolicy: Always
          ports:
            - containerPort: 8101
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: local-k8s
            - name: SPRING_CLOUD_CONFIG_URI
              value: http://cms-config-server-svc:8888
            - name: SPRING_KAFKA_BOOTSTRAP-SERVERS
              value: kafka-service:9092
            - name: SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS
              value: kafka-service
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: postgres_user
            - name: POSTGRES_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: postgres_password
            - name: POSTGRES_HOST
              valueFrom:
                configMapKeyRef:
                  name: hostname-config
                  key: postgres_host

---

kind: Service
apiVersion: v1
metadata:
  name: cms-employee-service-svc
spec:
  ports:
    - port:  80
  selector:
    app:  cms-employee-service-app
